@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #1e1e1e;
		--input: #e6e6e6;
		--border: #1e1e1e;
		--ring: #1e1e1e;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
